/* body{font-family: "s",  } */
/* start nav bar */
nav{background-color: #00A5c4;margin-bottom: 0px;}
nav .navbar-nav{margin: auto; }
nav .navbar-nav .nav-link{margin-left: 50px; font-size: 18px;}
nav .navbar-collapse  .cart-car-counter{background-color: #003859;color: #fff;width: 90px;border-radius: 50px;padding: 5px;position: relative;overflow: hidden;}
nav .navbar-collapse .cart-car-counter span { background-color: #fff;border-radius: 50px;position: absolute;color: black; padding: 4px 13px;left: 2px; top: -4px;}
/* end nav bar */

/*  start slider1*/
.carousel-inner .carousel-item img{background-size: cover;width: 100%;}
.carousel-indicators li{width: 10px;height: 10px;border-radius: 50%;}
/* end sloder1 */

/* start top sale*/
.top-sale{margin-top: 90px ;}
.top-sale .mobile{width: 200px; display: inline-block; padding: 10px;}
.top-sale .mobile img:hover{ width: 100%;cursor: pointer;transition: all .7s;  transform: scale(1.1);}
.top-sale .mobile ul{display:flex;margin-left: 20px;}
.top-sale .mobile ul li{color: #FFC107;margin-left: 4px;font-size: 14px; }
.top-sale .mobile span{ font-family: "Raleway", cursive;}
.top-sale .mobile button{margin-top:10px;border: none;background-color:#FFC107 ;padding: 5px 10px;border-radius: 5px;text-align: center;}
/* end top sale */



/* .special-price */
.special-price{margin-top: 60px;}
.special-price .ul{list-style: none;display: flex;justify-content: flex-start;margin-bottom: 30px;}
.special-price .ul  .bt-active {color: salmon;}
.special-price .ul button{background-color: transparent;border: none;margin-left:7px ; }
.special-price .mobile{width: 200px; display: inline-block; padding: 10px;border: 1px solid rgba(165, 165, 165, 0.384);    ;margin-left: 31px;margin-bottom: 10px;}
.special-price .mobile img:hover{ width: 100%;cursor: pointer;transition: all .7s;  transform: scale(1.1);}
.special-price .mobile ul{display:flex;margin-left: 20px;}
.special-price .mobile ul li{color: #FFC107;margin-left: 4px;font-size: 14px; }
.special-price .mobile span{ font-family: "Raleway", cursive;}
.special-price .mobile button{margin-top:10px;border: none;background-color:#FFC107 ;padding: 5px 10px;border-radius: 5px;text-align: center;}
/* special-price  */

/* start advertising */
.advertising{margin-top: 50px;}
.advertising img{ margin-bottom: 14px;}
/* end  advertising */

/* start new phone */
.new-phone{margin-top: 70px; }
.new-phone  .owl-carousel{background-color: rgba(197, 197, 197, 0.075);}
.new-phone .mobile{width: 200px; display: inline-block; padding: 10px;}
.new-phone .mobile img:hover{ width: 100%;cursor: pointer;transition: all .7s;  transform: scale(1.1);}
.new-phone .mobile ul{display:flex;margin-left: 20px;}
.new-phone .mobile ul li{color: #FFC107;margin-left: 4px;font-size: 14px; }
.new-phone .mobile span{ font-family: "Raleway", cursive;}
.new-phone .mobile button{margin-top:10px;border: none;background-color:#FFC107 ;padding: 5px 10px;border-radius: 5px;text-align: center;}
/* end new phone */
 /* start lasted postes */
 .last-post{margin-top:90px}
 
 /* end lasted postes */
 /* start last blog  */
 .last-blog {margin-top: 70px;overflow: hidden;}
 .last-blog .card{margin:auto;margin-top: 50px;justify-content: center;align-items: center;text-align: center;width: 18rem;}

 .last-blog .a{font-family: "Raleway"}
 /* end last blog */
 
 /* start footer */
footer{margin-top: 90px;background-color: #343A40;padding: 20px;font-family: "Raleway", cursive;}
footer .footer-items{margin-bottom: 20px;}
footer h3{ color: rgb(255, 255, 255); }
footer a,footer p{ color: red;     color: rgba(255,255,255,.5);font-size: 14px;}
footer input{border: none;border-radius: 4px;padding: 5px;width: 49%;margin-right:4px;}
footer button{ background-color: #007bff;border-radius: 4px;border: none;color: #fff;padding: 5px 10px;}

 /* end footer */


 /* START PRODUCT-product-detailes PAGE */
 

 /* start-product-detailes */
 .product-detailes .product-img-button{ padding: 20px;width: 100% ;;}  
 .product-detailes .product-img-button img{width: 100%;margin-bottom: 50px;}
 .product-detailes .product-img-button .my-buttones{display: flex; }
 .product-detailes .product-img-button .my-buttones button{border: none;padding: 5px 10px;font-family: "Raleway", cursive;border-radius: 5px;}
 .product-detailes .product-img-button .my-buttones .btn1{width: 40%;margin-right:20px ;    background-color: #dc3545;color: #fff; }
 .product-detailes .product-img-button .my-buttones .btn2{width: 40%;    background-color: #ffc107; }
 .product-detailes  .products-info {padding: 20px;}
 .product-detailes  .products-info .section1 span{font-size: 14px;}
 .product-detailes  .products-info   .section1 ul{display:flex;margin-top: 1px;}
 .product-detailes  .products-info   .section1 ul li{color: #FFC107;margin-left: 4px;font-size: 12px; }
 .product-detailes  .products-info   .section1 ul a{margin-left: 8px;margin-top: -2px;font-size: 14px;}
 .product-detailes  .products-info   .section2 p{font-size: 14px;}
 .product-detailes  .products-info   .section2 p span{font-size: 19px;margin-left: 6px;}
 .product-detailes  .products-info   .section2 ul{display: flex;margin-top: 30px;}
 .product-detailes  .products-info   .section2 ul i{margin-bottom: 8px;text-align: center;color: rgb(42, 92, 255);border-radius: 50%;border: 1px solid rgba(190, 189, 189, 0.637) ;padding: 15px;}
 .product-detailes  .products-info   .section2 ul a{display: block;font-size: 12px;width: 30%;text-align: center;margin-left: 10px;}
 .product-detailes  .products-info   .section3 p{font-size: 14px;}
 .product-detailes  .products-info   .section3 span{margin-left: 30px;margin-top: 5px;display: inline-block;font-size: 15px;text-transform: uppercase;border: 1px solid rgba(175, 174, 174, 0.493);padding:10px ;}
/* end product-detailes*/
 
 /* END product-detailesPAGE */



 /* START CART PAGE */
 .cart .cart-item{ display: flex; margin-top: 20px;overflow: hidden;padding: 10px;}
 .cart .cart-item .img{width: 20%;  }
 .cart .cart-item .img img{width: 100%;}
 .cart .cart-item .content{margin-left: 50px; }
 .cart .cart-item .content input{width: 50px;}
 .cart .cart-item  .content a{margin-left: 7px }
 

.cart .cart-item .content span{font-size: 14px;}
.cart .cart-item .content ul{display: flex;margin-top:2px;}
.cart .cart-item .content  ul li{color: #FFC107;margin-left: 5px;font-size: 12px; }
.cart .cart-item .content  ul a{ font-size: 14px;  margin-left: 4px; }
.cart .cart-item .price{ margin-left:190px ;font-size: 18px;color: red;}
.cart .box {border: 1px solid rgba(190, 190, 190, 0.507) ;text-align: center;height: 200px; margin-left:10px}
.cart .box span{color: #28A745;font-size: 13px; }
.cart .box .box-content button{border: none;padding: 5px 17px;border-radius: 6px;background-color: #ffc107; }
.cart .box .box-content button:hover{ transition: all 1s;background-color: #d4a310da; }
 @media(max-width:576px){
     .cart .cart-item { display: flex;flex-direction: column;justify-content: center;align-items: center; }
      .cart .cart-item .img{width: 80%; margin-bottom: 30px}
      .cart .cart-item  .content  {text-align: center;}
    .cart .cart-item .price{margin-left: 30px;font-size: 18px;margin-top: 40px;text-align: center;}
    .cart-car-counter{margin-left: 40px;margin-top: 30px ;}
    .carousel-control-prev{display: none;}
    .carousel-control-next{display: none;}
    
 

.carousel-indicators{    bottom: -20px;}
  }
  @media(min-width:300px) and (max-width:430px)
  {
    .special-price .mobile{width: 200px; display: inline-block; padding: 10px;border: 1px solid rgba(165, 165, 165, 0.384);   
       ;margin-left: 61px;margin-bottom: 10px;}

  }
  @media (min-width:576px)and (max-width:992px)
  {
        .cart-car-counter{ margin: 30px 47px ;;}
  }

  @media(max-width:300px)
  {
    .last-blog .card
    {
        width:14rem
    }
    
  }
  @media(min-width:992px)
{
 .cart .box{margin-left: 30px;}
}